/* colours */
$veryDarkGrey: #555;

main, header, footer, nav, aside, section {
	display: block;
}

html {
	font-size: 16px;
	line-height: 20px;
	background-color: #eee;
}

body {
	width: 720px;
	margin: 0 auto;
	font-family: Impact, "HelveticaNeue-CondensedBlack";
	font-weight: bold;
}

header {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 278px;
	text-align: right;

	p {
		margin-top: 5px;
		font-family: 'HelveticaNeue', Ariel, sans-serif;
		font-size: 16px;
		color: grey;
	}
}

h1 {
	padding: 0 0 5px;
	margin: 0;
	border-bottom: 1px solid $veryDarkGrey;
	font-size: 40px;
	line-height: 40px;
	letter-spacing: 2px;
	font-style: italic;
}

a {
	text-decoration: none;
	color: limegreen;
}

input, button {
	-webkit-appearance: none;
	padding: 0;
	margin:
}

/* machine sections */
.eightiesOutline {
	border: 1px solid darkgrey;
	border-radius: 5px;
	background-color: white;
}

#machine {
	@extend .eightiesOutline;
	position: relative;
	width: 626px;
	height: 440px;
	margin: 10px auto;
	box-shadow: 2px 2px 8px 2px darkgrey;
}

#padgrid, #stepline {
	@extend .eightiesOutline;
	position: absolute;
	left: 20px;
	border-radius: 5px;
}


#padgrid {
	top: 20px;
	width: 285px;
	height: 285px;

	button {
		float: left;
		width: 64px;
		height: 64px;
		margin: 5px 0 0 5px;
		border-color: $veryDarkGrey;
		border-style: solid;
		border-width: 0;
		border-right-width: 1px;
		border-bottom-width: 1px;
		background-color: darkgrey;
		box-shadow: 0px 2px 3px -1px $veryDarkGrey;
		@extend .flash;

		&.previous { background-color: limegreen; }
	}
}


$seqCtrlX: 50px;
$seqCtrlY: 40px;

#sequencer--controls {
	position: absolute;
	right: 23px;
	bottom: 137px;
	width: 278px;
	padding: 5px 0;
	text-align: right;

	* { vertical-align: middle; }

	> * {
		margin-left: 10px;
	}

	.sequencer--controls__group {
		display: block;
		margin-top: 10px;
		height: $seqCtrlY;
		line-height: $seqCtrlY;
	}

	button {
		height: $seqCtrlY;
		width: $seqCtrlX;
		margin-left: 15px;
		border-top-width: 0px;
		border-right-width: 1px;
		border-bottom-width: 1px;
		border-left-width: 0px;
		border-style: solid;
		border-radius: 2px;
		text-align: center;
		font-size: 1.5rem;
		@extend .flash;
	}
}

	#tempoCtrlWrapper {
		position: relative;
		display: inline-block;
		width: $seqCtrlY - 9px;
		height: $seqCtrlY - 9px;
		border: 1px solid $veryDarkGrey;
		border-radius: 50%;
		box-shadow: 2px 2px 4px 1px $veryDarkGrey;
	}

	#tempoCtrl {
		position: absolute;
		top: 0;
		left: 0;
		width: $seqCtrlY - 9px;
		height: $seqCtrlY - 9px;
		border-radius: 50%;
	}

		#notch {
			position: absolute;
			top: 0;
			left: 50%;
			width: 1px;
			height: $seqCtrlY / 2.5;
			background-color: $veryDarkGrey;
			box-shadow: 1px 1px 1px grey;
		}

	#tempo {
		display: inline-block;
		width: 2 * $seqCtrlX - 40px;
		height: $seqCtrlY;
		padding: 0 5px;
		margin-left: 15px;
		font-family: monospace;
		font-size: 36px;
		text-align: center;
		letter-spacing: -2px;
		line-height: $seqCtrlY;
		background-color: black;
		color: limegreen;
		text-shadow: 0px 0px 5px rgba(202,251,202, 0.7);
	}

	#rwnd {
		border-color: brown;
		background-color: darkorange;
		color: $veryDarkGrey;
		box-shadow: 0px 2px 3px -1px darkorange;
	}

	#play {
		border-color: green;
		background-color: limegreen;
		color: white;
		box-shadow: 0px 2px 3px -1px limegreen;
	}

	#stop {
		border-color: darkred;
		background-color: firebrick;
		color: white;
		box-shadow: 0px 2px 3px -1px firebrick;
	}


#stepline {
	position: absolute;
	bottom: 20px;
	width: 576px;
	height: 90px;
	padding: 5px 0 5px 5px;
}

	#stepline ol, #stepline li {
		display: inline-block;
		padding: 0;
		margin: 0;
		height: 90px;
	}

	#stepline li {
		position: relative;
		width: 31px;
		margin-right: 5px;
		list-style: none;
		text-align: center;
	}

		#stepline button,
		#stepline label {
			position: absolute;
			left: 0;
			width: 100%;
		}

		#stepline button {
			box-sizing: border-box;
			height: 70px;
			line-height: 72px;
			background-color: white;
			color: $veryDarkGrey;
			border: 1px solid $veryDarkGrey;
			border-style: solid;
			border-color: darkgrey;
			border-width: 1px 1px 0 1px;
			border-radius: 5px 5px 0 0;
			box-shadow: 0px 1px 1px 1px $veryDarkGrey;
		}

		#stepline .led {
			display: inline-block;
			width: 16px;
			height: 8px;
			margin: 10px auto;
			border: 1px solid $veryDarkGrey;
			background-color: $veryDarkGrey;
			vertical-align: top;
			@extend .flash;
		}

		#stepline .led-on {
			background-color: limegreen;
		}

		#stepline label {
			height: 16px;
			line-height: 16px;
			bottom: 0;
			background-color: $veryDarkGrey;
			color: white;
			border-radius: 0 0 5px 5px;
			font-size: 0.8rem;
			font-weight: 100;
			vertical-align: top;
		}


// flashing lights
.flash {
	transition: background-color 50ms ease-out;
}

.flash--red { background-color: red!important; } // abusing !important somewhat
.flash--green { background-color: lightgreen!important; } // abusing !important somewhat
.flash--orange { background-color: orange!important; } // abusing !important somewhat
.flash--darkgrey { background-color: $veryDarkGrey!important; } // abusing !important somewhat
